#!/bin/bash

# 修改为适合你的coze的API Token和Workflow ID
export COZE_API_TOKEN='pat_xxxxx'
export WORKFLOW_ID='75xxxx'

# model 支持 musetalkv15, musetalk, wav2lip
MODEL_NAME='musetalkv15'
# avatar_id 支持 avator_1, wav2lip256_avatar_1
# avatar 在 data/avatar/ 目录下
AVATAR_ID='avator_1'


python app.py --transport webrtc --model $MODEL_NAME --avatar_id $AVATAR_ID --ssl_cert=./ssl/certificate.crt --ssl_key=./ssl/private.key
